@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}



.hero-clip{
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;

  background: #ffff;

}

.hero-gradient{
  background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 100%) 0%,
    hsl(199deg 100% 99%) 1%,
    hsl(199deg 100% 98%) 8%,
    hsl(199deg 100% 97%) 29%,
    hsl(198deg 100% 96%) 67%,
    hsl(198deg 100% 95%) 84%,
    hsl(198deg 100% 93%) 92%,
    hsl(198deg 100% 92%) 97%,
    hsl(198deg 100% 91%) 99%,
    hsl(198deg 100% 90%) 100%,
    hsl(198deg 100% 89%) 100%
  );
}

/* //iframe */
/* .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 100%;
}

.video-responsive iframe {
  height: 100%;
  width: 100%;
  position: relative;
} */
